In [1]:
# 1.1)
def fact(a,b):
  return a*b
def myreduce(func,l1):
  first = l1[0]
  for i in l1[1:]:
    first = func(first,i)
  return first

In [2]:
myreduce(fact,[1,2,3,4,5])

120

In [3]:
# 1.2)
def is_even(n):
  if n%2==0:
    return True
  else:
    return False
def myfilter(func,l2):
  return [i for i in l2 if func(i)]

In [4]:
myfilter(is_even,[1,2,3,4,5,6,7,8,9,10])

[2, 4, 6, 8, 10]

In [5]:
# 2)
# 1.
char='xyz'
mylist= [i*num for i in char  for num in range(1,5)]
mylist

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [6]:
# 2. 
char='xyz'
yourlist=[i*num for num in range(1,5) for i in char ]
yourlist

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [7]:
# 3.
ilist1=[2,3,4]
nlist1=[[i+num]for i in ilist1 for num in range(0,3)]
print(nlist1,end="")

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [8]:
# 4.
ilist2=[2,3,4,5]
nlist2=[[i+num] for i in ilist2 for num in range(0,4)]
print(nlist2,end="")

[[2], [3], [4], [5], [3], [4], [5], [6], [4], [5], [6], [7], [5], [6], [7], [8]]

In [9]:
# 5.
ilist3=[1,2,3]
nlist3=[(b,a) for a in ilist3 for b in range(1,4)] 
print(nlist3,end="")

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]